@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}
/* MENU */
.contenedor-header {
  background: #1e2326;
  position: fixed;
  width: 98%;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.contenedor-header header {
  width: 100%;
  max-width: 2560px;
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 5px;
}

.logo img {
  width: 100%;
  max-width: 80px;
  height: auto;
  display: block; /* Elimina cualquier espacio debajo de la imagen */
  margin-bottom: 5px;
}
.contenedor-header header ul {
  display: flex;
  list-style: none;
}
.contenedor-header header nav ul li a {
  text-align: none;
  color: #f4ece0;
  margin: 0 20px;
  padding: 7px;
  transition: 0.5s;
  text-decoration: none;
}
.contenedor-header header nav ul li a:hover {
  color: #66999b;
}
.nav-responsive {
  background-color: #66999b;
  color: #f4ece0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* SECCION I N I C I O */
.inicio {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(img/code2.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;
}

.inicio .contenido-banner {
  padding: 20px;
  background-color: #1e2326;
  max-width: 700px;
  margin: auto;
  text-align: center;
  border-radius: 30px;
  align-items: center; /* Centrado vertical */
  height: 100%;
  max-height: 550px;
  margin-top: 8rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.inicio .contenido-banner img {
  border: 10px solid #66999b;
  display: block;
  width: 250px; /* Ajusta el tamaño de la imagen */
  height: 250px; /* Asegúrate de que el ancho y alto sean iguales */
  margin: auto;
  border-radius: 50%; /* Esto hace que la imagen sea circular */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.inicio .contenido-banner h1 {
  margin-top: 40px;
  font-size: 42px;
  font-family: "noto";
  color: #f4ece0;
}
.inicio .contenido-banner h2,
p {
  font-size: 15px;
  font-weight: normal;
  color: #f4ece0;
  padding: 10px;
}
.inicio .contenido-banner .redes a {
  color: #f4ece0;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #f4ece0;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
  margin-top: 10px;
}
.inicio .contenido-banner .redes a:hover {
  background-color: #66999b;
}

/*Seccion sobre mi*/
.sobremi {
  background-color: #1e2326;
  color: #f4ece0;
  padding: 70px 5px;
}
.sobremi .contenido-seccion {
  max-width: 2560px;
  margin: auto;
  padding: 50px 50px;
}
.sobremi h2 {
  font-size: 48px;
  font-family: "noto";
  text-align: center;
  padding: 5px 0;
  color: #66999b;
}
.sobremi .contenido-seccion p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
  margin-top: 3px !important;
  text-align: justify;
}

.sobremi .fila {
  display: flex;
}
.sobremi .fila .col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sobremi .fila .col h3 {
  font-size: 28px;
  font-family: "Noto";
  margin-bottom: 25px;
  color: #66999b;
  text-align: center; /* Centra el texto horizontalmente */
  display: flex; /* Usa flexbox para centrar también verticalmente */
  justify-content: center; /* Asegura que el contenido se alinee horizontalmente */
}

.sobremi .fila .col .contenedor-intereses {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sobremi .fila .col .contenedor-intereses .intereses {
  flex-basis: 95%;
  display: flex;
  align-items: center; /* Alinea verticalmente el texto e ícono */
  justify-content: center; /* Alinea los elementos hacia la izquierda */
  width: 95%; /* Asegura que ocupe todo el ancho disponible */
  height: 38px; /* Tamaño del contenedor */
  background-color: #252a2e; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  margin: 0 15px 15px 0; /* Márgenes para separar los contenedores */
  padding: 21px; /* Espaciado interno para los íconos y texto */
  transition: 0.3s; /* Efecto al pasar el ratón */
}

.sobremi .fila .col .contenedor-intereses .intereses:hover {
  background-color: #66999b; /* Color de fondo al hacer hover */
}

.sobremi .fila .col .contenedor-intereses .intereses .material-icons {
  font-size: 30px; /* Tamaño del ícono */
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.sobremi .fila .col .contenedor-intereses .intereses span {
  font-size: 16px; /* Tamaño del texto */
  color: #f4ece0; /* Color del texto */
}

.sobremi .fila .col .contenedor-pasatiempos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.sobremi .fila .col .contenedor-pasatiempos .pasatiempos {
  flex-basis: 22%;
  width: 100px;
  height: 100px;
  background-color: #252a2e;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
.sobremi .fila .col .contenedor-pasatiempos .pasatiempos:hover {
  background-color: #66999b;
}

.sobremi .fila .col .contenedor-pasatiempos .pasatiempos .material-icons {
  font-size: 40px;
  margin-bottom: 10px;
}
.sobremi .fila .col .contenedor-pasatiempos .pasatiempos span {
  font-size: 10px;
}

.sobremi button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #f4ece0;
  width: fit-content;
  display: block;
  margin: 15px auto;
  padding: 10px 22px;
  font-size: 16px;
  position: relative;
  z-index: 10;
}
.sobremi button a {
  text-decoration: none;
  color: #f4ece0;
}

.sobremi button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #66999b;
  z-index: -1;
  transition: 1s;
}
.sobremi button:hover .overlay {
  width: 100%;
}
/* SECCION S K I L L S */
.skills {
  background-color: #252a2e;
  color: #f4ece0;
  padding: 70px 20px;
}
.skills .contenido-seccion {
  max-width: 2560px;
  margin: 25px 50px;
}
.skills h2 {
  font-size: 48px;
  font-family: "Noto";
  text-align: center;
  padding: 20px 0;
  color: #66999b;
}
.skills .fila {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
}

.skills .fila .col {
  width: 70%;
  padding: 0 50px;
  justify-content: center; /* Centra el contenido dentro de la columna */
  align-items: center;
  margin-left: 55px; /* Empuja la columna hacia la derecha */
  margin-right: auto; /* Ajusta para centrar */
}
.skills .fila .col h3 {
  font-size: 28px;
  font-family: "noto";
  margin-bottom: 25px;
  color: #66999b;
  text-align: center; /* Centra el texto horizontalmente */
  display: flex; /* Usa flexbox para centrar también verticalmente */
  justify-content: start;
}
.skills .skill span {
  font-weight: lighter;
  display: block;
  margin-bottom: 17px;
  font-size: 14px;
}
.skills .skill .barra-skill {
  height: 8px;
  width: 80%;
  background-color: #131517;
  position: relative;
  margin-bottom: 30px;
}
.skills .skill .progreso {
  background-color: #66999b;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}
.skills .skill .barra-skill span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #66999b;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}

/* SECCION PORTAFOLIO */
.contenedorPortafolio {
  background-color: #1e2326;
  color: #f4ece0;
  padding: 80px 5px;
}
.contenedorPortafolio .contenido-seccion {
  max-width: 2560px;
  margin: auto;
  padding: 30px 50px;
}
.contenedorPortafolio h2 {
  font-size: 48px;
  font-family: "noto";
  text-align: center;
  padding: 20px 0;
  color: #66999b;
}

.contenedorPortafolio .fila {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.contenedorPortafolio .fila .col {
  width: 49%;
  padding: 0 20px;
}

.contenedorPortafolio .fila .izquierda {
  border-right: 2px solid #252a2e;
}
.contenedorPortafolio .fila .derecha {
  border-left: 2px solid #252a2e;
}
.contenedorPortafolio .fila .item {
  padding: 5px 0;
  margin-bottom: 30px;
  background-color: #252a2e;
  position: relative;
}

.contenedorPortafolio .fila .izq {
  border-right: 2px solid #66999b;
  margin-right: 20px;
}
.contenedorPortafolio .fila .der {
  border-left: 2px solid #66999b;
  margin-left: 20px;
}
.contenedorPortafolio .fila .item .conectori {
  height: 2px;
  background-color: #66999b;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}
.contenedorPortafolio .fila .item .conectori .circuloi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #66999b;
  float: right;
  position: relative;
  bottom: 4px;
}
.contenedorPortafolio .fila .item .conectord {
  height: 2px;
  background-color: #66999b;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}
.contenedorPortafolio .fila .item .conectord .circulod {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #66999b;
  float: left;
  position: relative;
  bottom: 4px;
}

.contenedorPortafolio .fila .portfolio .contenido-seccion {
  max-width: 2560px;
  margin: auto;
  padding: 10px 10px;
}

.portfolio .galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
.portfolio .galeria .proyecto {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  height: fit-content;
  margin: 0;
  cursor: pointer;
}
.portfolio .galeria .proyecto img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
}
.portfolio .galeria .proyecto .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(
    rgba(102, 153, 155, 0.9),
    rgba(102, 153, 155, 0.95)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
}

.portfolio .galeria .proyecto:hover .overlay {
  opacity: 1;
}

.icons {
  display: flex;
  gap: 15px;
  margin-top: 1px;
  justify-content: center;
}

.github-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icons a {
  color: #f4ece0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 20px;
  transition: transform 0.2s ease-in-out;
  margin: 0;
  position: relative;
}

.icons a i {
  font-size: 30px;
}

.icons a:hover {
  transform: scale(1.08);
}

/* Estilos para los iconos ocultos */
.hidden-icons {
  display: none;
  flex-direction: unset;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  gap: 10px;
  list-style: none; /* Elimina posibles estilos de lista */
}

.hidden-icons a {
  color: #f4ece0;
  text-decoration: none;
  font-size: 10px;
  padding: 0;
  margin: 0;
  line-height: 1; /* Mantiene el mínimo espacio entre líneas */
  display: list-item; /* Asegura que no haya espaciado extra */
  transition: background 0.2s;
}

.hidden-icons a:hover {
  transform: scale(1.08);
}

/* Mostrar los iconos al pasar el mouse sobre el GitHub */
.github-container:hover .hidden-icons {
  display: flex;
}
.portfolio .galeria .proyecto .overlay h3 {
  margin-bottom: 34px;
  transition: 1s;
  font-family: "noto";
}
.portfolio .galeria .proyecto .overlay p {
  margin-bottom: 5px;
  transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover {
  opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3 {
  margin-bottom: 0px;
  font-size: 40px;
  font-family: "noto";
}
.portfolio .galeria .proyecto .overlay:hover p {
  margin-bottom: 0px;
  font-size: 20px;
}
.portfolio .galeria .proyecto .overlay:hover .descripcion {
  margin-bottom: 0px;
  font-size: 10px;
  font-family: "Poppins";
  font-weight: 550;
}
/* SECCION CONTACTO */
.contacto {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.9),
      rgba(30, 35, 38, 1)
    ),
    url(img/caontactame.jpg);
  background-color: #1e2326;
  color: #fff;
  padding: 60px 0;
}
.contacto .contenido-seccion {
  max-width: 2560px;
  margin: auto;
}
.contacto h2 {
  font-size: 48px;
  font-family: "noto";
  text-align: center;
  padding: 50px 0;
  color: #66999b;
  margin-bottom: 0;
}
.contacto p {
  font-size: 20px;
  padding: 150px 50px 0 70px;
  justify-content: center;
}
.contacto .fila {
  display: flex;
}
.contacto .col {
  width: 45%;
  padding: 0;
  position: relative;
  margin: 70px;
}

.contacto .col img {
  width: 100%;
  display: block;
}

.contacto .col::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 153, 155, 0.9);
  pointer-events: none;
}
.contacto .col .info {
  position: absolute;
  top: 50%;
  background-color: #252a2e;
  padding: 1px;
  justify-content: center;
  left: 50%;
  width: 90%;
  height: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.contacto .col .info ul {
  list-style: none;
  padding: 50px;
}
.contacto .col .info ul li {
  margin-bottom: 20px;
}
.contacto .col .info ul li i {
  color: #66999b;
  display: inline-block;
  margin-right: 20px;
  font-size: 30px;
}
.contacto .col .info ul li a {
  color: #f4ece0;
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
}
footer {
  background-color: #252a2e;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}
footer .redes {
  margin-bottom: 20px;
}
footer .redes p {
  color: #f4ece0;
  display: flex;
  line-height: 42px;
  font-size: 15px;
  transition: 0.3s;
  justify-content: center;
  background: none;
}
footer .arriba {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #66999b;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width: 980px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: block;
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #252a2e;
    width: 100%;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
  .logo img {
    max-width: 70px;
  }
}
@media screen and (max-width: 700px) {
  .contenedor-header {
    width: 97%;
  }
  .inicio {
    padding: 0 15px;
    min-height: 125vh; /* Ocupará toda la altura de la pantalla */
    display: flex;
  }
  .inicio .contenido-banner h1 {
    font-size: 34px;
  }
  .inicio .contenido-banner h2,
  p {
    font-size: 16px;
  }
  .inicio .contenido-banner {
    height: 100%;
    max-height: 670px;
  }

  .inicio .contenido-banner .redes {
    padding: 20px;
  }
  .sobremi .contenido-seccion {
    padding: 2px;
  }
  .sobremi .fila {
    display: block;
  }
  .sobremi .fila .col {
    width: fit-content;
  }
  .sobremi .fila .col .contenedor-pasatiempos {
    padding-left: 20px;
  }
  .sobremi .fila .col .contenedor-pasatiempos .pasatiempos {
    flex-basis: 45%;
  }

  .sobremi button {
    margin-top: 30px;
  }
  .skills {
    padding: 45px 0;
  }
  .skill h2 {
    padding: 5px;
  }
  .skills .fila {
    display: block;
    padding: 0 10px;
  }
  .skills .fila .col {
    width: 100%;
    padding: 5px;
    margin: 0;
  }
  .skills .fila .col .barra-skill {
    width: 100%;
  }
  .skills .skill span {
    font-size: 15px;
  }
  .contenedorPortafolio {
    padding: 10px 2px;
    min-height: 125vh; /* Ocupará toda la altura de la pantalla */
    display: flex;
  }
  .contenedorPortafolio .contenido-seccion {
    padding: 20px 10px;
    margin: 0;
  }

  .contenedorPortafolio h2 {
    padding-top: 80px;
  }

  .contenedorPortafolio .fila {
    display: block;
  }
  .contenedorPortafolio .fila .col {
    width: 90%;
    padding: 30px;
  }
  .contenedorPortafolio .fila .derecha {
    margin-left: 20px;
  }

  .portfolio .galeria {
    display: block;
    width: 100%;
  }
  .portfolio .galeria .proyecto {
    max-width: 100%;
  }
  .portfolio .galeria .proyecto img {
    width: 100%;
  }
  .portfolio .galeria .proyecto .overlay h3 {
    font-size: 20px;
  }
  .portfolio .galeria .proyecto .overlay:hover h3 {
    font-size: 30px;
  }
  .portfolio .galeria .proyecto .overlay p {
    display: none;
  }
  .contacto .fila {
    display: block;
    padding: 0px 20px;
  }
  .contacto p {
    padding: 0 20px;
    text-align: justify;
    padding-bottom: 25px;
    font-size: 16px;
  }
  .contacto .fila .col {
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }
  .contacto .col .info ul li {
    margin-bottom: 20px;
  }
}
